<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="css/style.css">
    {{>headerlinks}}
</head>

<body>
       {{>navbar}}


    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">

                        <figure>
                         <img src="img/about.png" id="aboutimg" alt="about" class="img-fluid" title="Abbas Gawali">
                        </figure>
 
                     </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To Weather App</p>
                        <h1>I Am a <span class="spa-col">Mern Stack Developer </span> And a Freelencer</h1>
                        <a href="/weather"><button>About Me</button></a>
                    </div>

                    <!-- right -->
                    
                </div>

            </div>
        </div>
    </div>

<!-- footer codee -->

{{>footer}}
</body>

</html>