<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="css/style.css">
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">


                <div class="main_content">
                    <form action="#" class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter Your City Name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">

                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">wednesday</p>
                        <p id="today_day">9 apr</p>

                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                            <p id="temp_status">
                                {{!-- <i class="fa fa-cloud"></i> --}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="js/main.js"></script>
    <script>

        getcurDate = () =>{

        
        let day = document.getElementById('day');
        let today_day = document.getElementById('today_day');
        const curDate = new Date();
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

        // imp dates conventions
        const curMonth = (months[curDate.getMonth()]);
        const curMonthDay = (curDate.getDate())
        const curWeekDay = (days[curDate.getDay()])
        day.innerHTML = curWeekDay;
        today_day.innerHTML = `${curMonthDay} ${curMonth}`;

        }
        getcurDate();
    </script>
</body>

</html>